<h1>Tasks live here!</h1>

<p><%= link_to "New Task", new_task_path, class: 'btn btn-success' %></p>
<div class="row">
  <div class="col-md-8">

  <table style = "width:100%">
    <th>
      <tr>
        <td> <h4>Current Task</h4></td>
        <td><h4>Days Left</h4></td>
        <td><h4>Complete Task</h4></td>
        <td><h4>Delete Task</h4></td>
      </tr>
    </th>

    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, edit_task_path(task) %>
        </h4><br>
          <small>
          created <%= time_ago_in_words(task.created_at) %> ago by <%= task.user.name %>
          </small>
      
        <td><%= 7 - (Time.now.utc.to_date - task.created_at.to_date).to_i %></td>
        <td>
          checkbox here
        </td>
        <td>
          <%= link_to "Delete Task", task_path(task), :confirm => 'Are you sure you want to complete this task?', :method => :delete %> 
        </td>
      </tr>
    <% end %>
  </table>
  </div>
 
</div>

<%= will_paginate @taskss %>




